<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<title>Orbit News</title>

	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">

	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="css/foundation.css" type="text/css" media="screen">
	<link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
	<link rel="stylesheet" href="css/responsive.css" type="text/css" media="screen">

	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<!-- Header -->
	<header class="clearfix">
		<!-- Top Menu -->
		<nav id="top-menu" class="clearfix">
			<ul class="no-bullet inline-list m0">
				<li><a href="#">Shortcodes</a></li>
				<li><a href="#">Portfolio</a></li>
				<li><a href="#">Pages</a></li>
				<li><a href="#">Links</a></li>
				<li><a href="#">About us</a></li>
				<li><a href="#">Admin options</a></li>
				<li><a href="#">Documentation</a></li>
			</ul>
		</nav>
		<!-- End Top Menu -->

		<div class="inner-header clearfix">
			<div id="logo" class="left">
				<h1><a href="index.html"><img alt="" src="images/logo.png"></a></h1>
			</div>

			<div class="ads-728x90 right">
				<a href="#"><img alt="" src="http://placehold.it/728x90"></a>
			</div>
		</div>
	</header>
	<!-- End Header -->

	<!-- Container -->
	<section class="container row clearfix">
		<header class="clearfix">
			<nav id="main-menu" class="left navigation">
				<ul class="sf-menu no-bullet inline-list m0">
					<li><a href="index.html" class="active">Home</a></li>
		    		<li><a href="#">Category</a>
		    			<ul class="sub-menu">
							<li><a href="blog-right-sidebar.html">Right Sidebar</a></li>
							<li><a href="blog-left-sidebar.html">Left Sidebar</a></li>
							<li><a href="blog-without-sidebar.html">Without Sidebar</a></li>
						</ul>
		    		</li>
		    		<li><a href="#">Single Post</a>
		    			<ul class="sub-menu">
							<li><a href="singlepost-right-sidebar.html">Right Sidebar</a></li>
							<li><a href="singlepost-left-sidebar.html">Left Sidebar</a></li>
							<li><a href="singlepost-without-sidebar.html">Without Sidebar</a></li>
						</ul>
		    		</li>
		    		<li><a href="#">Pages</a>
		    			<ul class="sub-menu">
							<li><a href="typography.html">Typography</a></li>
							<li><a href="video.html">Videos</a></li>
							<li><a href="404.html">Error 404</a></li>
							<li><a href="underconstruction.html">Underconstruction</a></li>
						</ul>
		    		</li>
		    		<li><a href="shortcodes.html">Shortcodes</a></li>
		    		<li><a href="#">Features</a>
		    			<ul class="sub-menu">
		    				<li><a href="gallery.html">Gallery</a></li>
							<li><a href="#">Videos</a>
								<ul class="sub-menu">
									<li><a href="youtube.html">Youtube</a></li>
									<li><a href="vimeo.html">Vimeo</a></li>
								</ul>
							</li>
						</ul>
		    		</li>
		    		<li><a href="contact.html">Contact</a></li>
				</ul>
			</nav>

			<div class="search-bar right clearfix">
				<form action="http://www.example.com">
					<input name="s" type="text" data-value="search" value="search">
					<input name="submit" type="submit" value="">
				</form>
			</div>
		</header>

		<!-- Inner Container -->
		<section class="inner-container clearfix">
			<!-- Content -->
			<section id="content" class="twelve column row pull-center video">
				<h4 class="cat-title mb25">Video</h4>

				<!-- Posts -->
				<section class="row">
					<!-- Category posts -->
					<article class="post three column">
						<div class="post-image">
							<a href="http://www.youtube.com/embed/YIW5oo-8NYw?autoplay=1"><img src="http://placehold.it/200x160" alt=""></a>
						</div>

						<div class="post-container">
							<h2 class="post-title"><a href="#">Create a Flexible Folded Paper</a></h2>
						</div>
					</article>
					<!-- End Category posts -->
					
					<!-- Category posts -->
					<article class="post three column">
						<div class="post-image">
							<a href="http://vimeo.com/moogaloop.swf?clip_id=3979989&fullscreen=1"><img src="http://placehold.it/200x160" alt=""></a>
						</div>

						<div class="post-container">
							<h2 class="post-title"><a href="#">Effect Using CSS3 Features</a></h2>
						</div>
					</article>
					<!-- End Category posts -->

					<!-- Category posts -->
					<article class="post three column">
						<div class="post-image">
							<a href="http://www.youtube.com/embed/YIW5oo-8NYw?autoplay=1"><img src="http://placehold.it/200x160" alt=""></a>
						</div>

						<div class="post-container">
							<h2 class="post-title"><a href="#">Create a Flexible Folded Paper Effect</a></h2>
						</div>
					</article>
					<!-- End Category posts -->

					<!-- Category posts -->
					<article class="post three column">
						<div class="post-image">
							<a href="http://www.youtube.com/embed/YIW5oo-8NYw?autoplay=1"><img src="http://placehold.it/200x160" alt=""></a>
						</div>

						<div class="post-container">
							<h2 class="post-title"><a href="#">Create a Flexible Folded Paper</a></h2>
						</div>
					</article>
					<!-- End Category posts -->
					
					<!-- Category posts -->
					<article class="post three column">
						<div class="post-image">
							<a href="http://www.youtube.com/embed/YIW5oo-8NYw?autoplay=1"><img src="http://placehold.it/200x160" alt=""></a>
						</div>

						<div class="post-container">
							<h2 class="post-title"><a href="#">Effect Using CSS3 Features</a></h2>
						</div>
					</article>
					<!-- End Category posts -->

					<!-- Category posts -->
					<article class="post three column">
						<div class="post-image">
							<a href="http://www.youtube.com/embed/YIW5oo-8NYw?autoplay=1"><img src="http://placehold.it/200x160" alt=""></a>
						</div>

						<div class="post-container">
							<h2 class="post-title"><a href="#">Create a Flexible Folded Paper Effect</a></h2>
						</div>
					</article>
					<!-- End Category posts -->

					<!-- Category posts -->
					<article class="post three column">
						<div class="post-image">
							<a href="http://www.youtube.com/embed/YIW5oo-8NYw?autoplay=1"><img src="http://placehold.it/200x160" alt=""></a>
						</div>

						<div class="post-container">
							<h2 class="post-title"><a href="#">Create a Flexible Folded Paper</a></h2>
						</div>
					</article>
					<!-- End Category posts -->
					
					<!-- Category posts -->
					<article class="post three column">
						<div class="post-image">
							<a href="http://www.youtube.com/embed/YIW5oo-8NYw?autoplay=1"><img src="http://placehold.it/200x160" alt=""></a>
						</div>

						<div class="post-container">
							<h2 class="post-title"><a href="#">Effect Using CSS3 Features</a></h2>
						</div>
					</article>
					<!-- End Category posts -->

					<!-- Category posts -->
					<article class="post three column">
						<div class="post-image">
							<a href="http://www.youtube.com/embed/YIW5oo-8NYw?autoplay=1"><img src="http://placehold.it/200x160" alt=""></a>
						</div>

						<div class="post-container">
							<h2 class="post-title"><a href="#">Create a Flexible Folded Paper Effect</a></h2>
						</div>
					</article>
					<!-- End Category posts -->

					<!-- Category posts -->
					<article class="post three column">
						<div class="post-image">
							<a href="http://www.youtube.com/embed/YIW5oo-8NYw?autoplay=1"><img src="http://placehold.it/200x160" alt=""></a>
						</div>

						<div class="post-container">
							<h2 class="post-title"><a href="#">Create a Flexible Folded Paper</a></h2>
						</div>
					</article>
					<!-- End Category posts -->
					
					<!-- Category posts -->
					<article class="post three column">
						<div class="post-image">
							<a href="http://www.youtube.com/embed/YIW5oo-8NYw?autoplay=1"><img src="http://placehold.it/200x160" alt=""></a>
						</div>

						<div class="post-container">
							<h2 class="post-title"><a href="#">Effect Using CSS3 Features</a></h2>
						</div>
					</article>
					<!-- End Category posts -->

					<!-- Category posts -->
					<article class="post three column">
						<div class="post-image">
							<a href="http://www.youtube.com/embed/YIW5oo-8NYw?autoplay=1"><img src="http://placehold.it/200x160" alt=""></a>
						</div>

						<div class="post-container">
							<h2 class="post-title"><a href="#">Create a Flexible Folded Paper Effect</a></h2>
						</div>
					</article>
					<!-- End Category posts -->

					<!-- Category posts -->
					<article class="post three column">
						<div class="post-image">
							<a href="http://www.youtube.com/embed/YIW5oo-8NYw?autoplay=1"><img src="http://placehold.it/200x160" alt=""></a>
						</div>

						<div class="post-container">
							<h2 class="post-title"><a href="#">Create a Flexible Folded Paper</a></h2>
						</div>
					</article>
					<!-- End Category posts -->
					
					<!-- Category posts -->
					<article class="post three column">
						<div class="post-image">
							<a href="http://www.youtube.com/embed/YIW5oo-8NYw?autoplay=1"><img src="http://placehold.it/200x160" alt=""></a>
						</div>

						<div class="post-container">
							<h2 class="post-title"><a href="#">Effect Using CSS3 Features</a></h2>
						</div>
					</article>
					<!-- End Category posts -->

					<!-- Category posts -->
					<article class="post three column end">
						<div class="post-image">
							<a href="http://www.youtube.com/embed/YIW5oo-8NYw?autoplay=1"><img src="http://placehold.it/200x160" alt=""></a>
						</div>

						<div class="post-container">
							<h2 class="post-title"><a href="#">Create a Flexible Folded Paper Effect</a></h2>
						</div>
					</article>
					<!-- End Category posts -->
				</section>
				<!-- End Posts -->

				<!-- Pagenation -->
				<div class="pagenation clearfix">
					<ul class="no-bullet">
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">...</a></li>
						<li><a href="#">50</a></li>
					</ul>
				</div>
				<!-- End Pagenation -->
			</section>
			<!-- Content -->

			<!-- Footer -->
			<footer class="row clearfix">
				<!-- Footer widgets -->
				<ul class="no-bullet clearfix">
					<li class="widget four column">
						<h3 class="widget-title">About Us</h3>
			        	<div class="textwidget">
			        		<p>Lorem ipsum dolor sit amet, consec tetuer adipis cing elitraesent vestibulum molestie um sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculusmus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec luctus lorem aecenas tristique orci ac semuis ultricies pharetra onec accumsan malesuada orci. Fusce feugiat males odio. Morbi nunc odio, lorem aecenas tristique orci ac semuis ultricies...</p>
			       		</div>
					</li>
					<li class="widget four column">
						<h3 class="widget-title">Flicker Gallery</h3>
	        			<div class="flickr-widget">
	        				<ul class="block-grid four-up">
	        					<li><a href="#"><img src="http://placehold.it/56x56" alt=""></a></li>
	        					<li><a href="#"><img src="http://placehold.it/56x56" alt=""></a></li>
	        					<li><a href="#"><img src="http://placehold.it/56x56" alt=""></a></li>
	        					<li><a href="#"><img src="http://placehold.it/56x56" alt=""></a></li>
	        					<li><a href="#"><img src="http://placehold.it/56x56" alt=""></a></li>
	        					<li><a href="#"><img src="http://placehold.it/56x56" alt=""></a></li>
	        					<li><a href="#"><img src="http://placehold.it/56x56" alt=""></a></li>
	        					<li><a href="#"><img src="http://placehold.it/56x56" alt=""></a></li>
	        					<li><a href="#"><img src="http://placehold.it/56x56" alt=""></a></li>
	        					<li><a href="#"><img src="http://placehold.it/56x56" alt=""></a></li>
	        					<li><a href="#"><img src="http://placehold.it/56x56" alt=""></a></li>
	        					<li><a href="#"><img src="http://placehold.it/56x56" alt=""></a></li>
	        				</ul>
	        			</div>
					</li>
					<li class="widget four column">
						<h3 class="widget-title">Twitter</h3>
			        	<div class="twitter-widget">
			        		<ul>
			        			<li>
			        				<p><a href="#">about 25 days ago</a> Lorem ipsum dolor sit amet nulla malesuda odio morbi nunc odio tristique: <br/><a href="#">http://bit.ly/8b0wO4</a></p>
			        			</li>
			        			<li>
			        				<p><a href="#">about 32 days ago</a> Malesuda orci ultricies pharetra onec accimsan curcus nec lorem aecenas: <br/><a href="#">http://bit.ly/8b0wO4</a></p>
			        			</li>
			        			<li>
			        				<p><a href="#">about 59 days ago</a> Socis vestibulum cing molestie malesuada odio onces accussam orci lorem: <br/><a href="#">http://bit.ly/8b0wO4</a></p>
			        			</li>
			        		</ul>
			        	</div>
					</li>
				</ul>
				<!-- End Footer widgets -->

				<div class="copyright clearfix">
					© Copyright 2012 Pixelogic
				</div>

				<div id="back-to-top" class="right">
					<a href="#top">Back to Top</a>
				</div>
			</footer>
			<!-- End Footer -->
		</section>
		<!-- End Inner Container -->
	</section>
	<!-- End Container -->

	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery.superfish.js"></script>
	<script type="text/javascript" src="js/jquery.flexslider.min.js"></script>
	<script type="text/javascript" src="js/jquery.fancybox.js"></script>
	<script type="text/javascript" src="js/jcarousel.js"></script>
	<script type="text/javascript" src="js/jquery.masonry.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
</body>
</html>