<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<title>Orbit News</title>

	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">

	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="css/foundation.css" type="text/css" media="screen">
	<link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
	<link rel="stylesheet" href="css/responsive.css" type="text/css" media="screen">

	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<!-- Header -->
	<header class="clearfix">
		<!-- Top Menu -->
		<nav id="top-menu" class="clearfix">
			<ul class="no-bullet inline-list m0">
				<li><a href="#">Shortcodes</a></li>
				<li><a href="#">Portfolio</a></li>
				<li><a href="#">Pages</a></li>
				<li><a href="#">Links</a></li>
				<li><a href="#">About us</a></li>
				<li><a href="#">Admin options</a></li>
				<li><a href="#">Documentation</a></li>
			</ul>
		</nav>
		<!-- End Top Menu -->

		<div class="inner-header clearfix">
			<div id="logo" class="left">
				<h1><a href="index.html"><img alt="" src="images/logo.png"></a></h1>
			</div>

			<div class="ads-728x90 right">
				<a href="#"><img alt="" src="http://placehold.it/728x90"></a>
			</div>
		</div>
	</header>
	<!-- End Header -->

	<!-- Container -->
	<section class="container row clearfix">
		<header class="clearfix">
			<nav id="main-menu" class="left navigation">
				<ul class="sf-menu no-bullet inline-list m0">
					<li><a href="index.html" class="active">Home</a></li>
		    		<li><a href="#">Category</a>
		    			<ul class="sub-menu">
							<li><a href="blog-right-sidebar.html">Right Sidebar</a></li>
							<li><a href="blog-left-sidebar.html">Left Sidebar</a></li>
							<li><a href="blog-without-sidebar.html">Without Sidebar</a></li>
						</ul>
		    		</li>
		    		<li><a href="#">Single Post</a>
		    			<ul class="sub-menu">
							<li><a href="singlepost-right-sidebar.html">Right Sidebar</a></li>
							<li><a href="singlepost-left-sidebar.html">Left Sidebar</a></li>
							<li><a href="singlepost-without-sidebar.html">Without Sidebar</a></li>
						</ul>
		    		</li>
		    		<li><a href="#">Pages</a>
		    			<ul class="sub-menu">
							<li><a href="typography.html">Typography</a></li>
							<li><a href="video.html">Videos</a></li>
							<li><a href="404.html">Error 404</a></li>
							<li><a href="underconstruction.html">Underconstruction</a></li>
						</ul>
		    		</li>
		    		<li><a href="shortcodes.html">Shortcodes</a></li>
		    		<li><a href="#">Features</a>
		    			<ul class="sub-menu">
		    				<li><a href="gallery.html">Gallery</a></li>
							<li><a href="#">Videos</a>
								<ul class="sub-menu">
									<li><a href="youtube.html">Youtube</a></li>
									<li><a href="vimeo.html">Vimeo</a></li>
								</ul>
							</li>
						</ul>
		    		</li>
		    		<li><a href="contact.html">Contact</a></li>
				</ul>
			</nav>

			<div class="search-bar right clearfix">
				<form action="http://www.example.com">
					<input name="s" type="text" data-value="search" value="search">
					<input name="submit" type="submit" value="">
				</form>
			</div>
		</header>

		<!-- Inner Container -->
		<section class="inner-container clearfix">
			<!-- Content -->
			<section id="content" class="eight column row pull-left singlepost">
				<!-- Youtube Video embed -->
				<div class="flex-video widescreen">
					<iframe src="http://www.youtube.com/embed/YdaMGcOyfjM" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
				</div>
				<!-- End Youtube Video embed -->
				
				<h1 class="post-title">Create a Flexible Folded Paper Effect Using CSS3 Features</h1>

				<p>Venenatis volutpat orci, ut sodales augue tempor nec. Integer tempus ullamcorper felis eget adipiscing. Maecenas orci justo, mollis at tempus ac, gravida non orci. Cras in neque ante, ac ultricies est. Sed rutrum nisi id nisi faucibus cursus. Aenean vel augue ligula. Integer nec ultrices magna. Vivamus urna eros, aliquam in scelerisque suscipit, pretium sed nunc. Nam scelerisque malesuada purus vel iaculis. Integer vel metus nulla. Nulla neque elit, consectetur sed tristique ut, placerat vitae nibh. Phasellus ac ultrices urna. Quisque eget nisl libero.</p>

				<div class="post-meta">
					<span class="comments"><a href="#">24</a></span>
					<span class="author"><a href="#">nextwpthemes</a></span>
					<span class="date"><a href="#">13 Jan 2013</a></span>
				</div>

				<div class="social-media clearfix">
					<ul>
						<li class="twitter">
							<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.nextwpthemes.com/" data-text="">Tweet</a>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
						</li>
						<li class="facebook">
							<script>(function(d, s, id) {
							  var js, fjs = d.getElementsByTagName(s)[0];
							  if (d.getElementById(id)) return;
							  js = d.createElement(s); js.id = id;
							  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
							  fjs.parentNode.insertBefore(js, fjs);
							}(document, 'script', 'facebook-jssdk'));
							</script>

							<div class="fb-like" data-href="http://www.nextwpthemes.com/" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
						</li>
						<li class="google_plus">
							<!-- Place this tag where you want the +1 button to render. -->
							<div class="g-plusone" data-size="medium"></div>

							<!-- Place this tag after the last +1 button tag. -->
							<script type="text/javascript">
							  (function() {
								var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
								po.src = 'https://apis.google.com/js/plusone.js';
								var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
							  })();
							</script>
						</li>
					</ul>
				</div>

				<div class="clear"></div>

				<div class="line"></div>

				<h4 class="post-title">13 Comments</h4>

				<br>

				<ol id="comments">
					<li class="depth-1">
						<div class="author-avatar"><img alt="" src="images/avatar.jpg"></div>
						<div class="comment-author">Faton</div>
						<div class="comment-date">May 17, 2012</div>
						<div class="comment-text"><p>First comment!</p></div>
						<div class="comment-reply"><a class="comment-reply-link" rel="nofollow" href="#reply">reply</a></div>

						<ul class="children">
							<li class="depth-2">
								<div class="author-avatar"><img alt="" src="images/avatar.jpg"></div>
								<div class="comment-author">Doni</div>
								<div class="comment-date">May 17, 2012</div>
								<div class="comment-text"><p>First comment!</p></div>
								<div class="comment-reply"><a class="comment-reply-link" rel="nofollow" href="#reply">reply</a></div>

								<ul class="children">
									<li class="depth-3">
										<div class="author-avatar"><img alt="" src="images/avatar.jpg"></div>
										<div class="comment-author">Faton</div>
										<div class="comment-date">May 17, 2012</div>
										<div class="comment-text"><p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p></div>
										<div class="comment-reply"><a class="comment-reply-link" rel="nofollow" href="#reply">reply</a></div>

										<ul class="children">
											<li class="depth-4">
												<div class="author-avatar"><img alt="" src="images/avatar.jpg"></div>
												<div class="comment-author"><a href="#">Vedat</a></div>
												<div class="comment-date">May 17, 2012</div>
												<div class="comment-text"><p>First comment!</p></div>
												<div class="comment-reply"><a class="comment-reply-link" rel="nofollow" href="#reply">reply</a></div>
											</li>
										</ul>
									</li>

									<li class="depth-3">
										<div class="author-avatar"><img alt="" src="images/avatar.jpg"></div>
										<div class="comment-author"><a href="#">Sami</a></div>
										<div class="comment-date">May 17, 2012</div>
										<div class="comment-text"><p>First comment!</p></div>
										<div class="comment-reply"><a class="comment-reply-link" rel="nofollow" href="#reply">reply</a></div>
									</li>

									<li class="depth-3">
										<div class="author-avatar"><img alt="" src="images/avatar.jpg"></div>
										<div class="comment-author">Faton</div>
										<div class="comment-date">May 17, 2012</div>
										<div class="comment-text"><p>First comment!</p></div>
										<div class="comment-reply"><a class="comment-reply-link" rel="nofollow" href="#reply">reply</a></div>

										<ul class="children">
											<li class="depth-4">
												<div class="author-avatar"><img alt="" src="images/avatar.jpg"></div>
												<div class="comment-author"><a href="#">Vedat</a></div>
												<div class="comment-date">May 17, 2012</div>
												<div class="comment-text"><p>First comment!</p></div>
												<div class="comment-reply"><a class="comment-reply-link" rel="nofollow" href="#reply">reply</a></div>
											</li>

											<li class="depth-4">
												<div class="author-avatar"><img alt="" src="images/avatar.jpg"></div>
												<div class="comment-author"><a href="#">Vedat</a></div>
												<div class="comment-date">May 17, 2012</div>
												<div class="comment-text"><p>First comment!</p></div>
												<div class="comment-reply"><a class="comment-reply-link" rel="nofollow" href="#reply">reply</a></div>

												<ul class="children">
													<li class="depth-5">
														<div class="author-avatar"><img alt="" src="images/avatar.jpg"></div>
														<div class="comment-author"><a href="#">Vedat</a></div>
														<div class="comment-date">May 17, 2012</div>
														<div class="comment-text"><p>First comment!</p></div>
														<div class="comment-reply"><a class="comment-reply-link" rel="nofollow" href="#reply">reply</a></div>
													</li>
												</ul>
											</li>
										</ul>
									</li>
								</ul>
							</li>

							<li class="depth-2">
								<div class="author-avatar"><img alt="" src="images/avatar.jpg"></div>
								<div class="comment-author">Faton</div>
								<div class="comment-date">May 17, 2012</div>
								<div class="comment-text"><p>First comment!</p></div>
								<div class="comment-reply"><a class="comment-reply-link" rel="nofollow" href="#reply">reply</a></div>
							</li>
						</ul>
					</li>

					<li class="depth-1">
						<div class="author-avatar"><img alt="" src="images/avatar.jpg"></div>
						<div class="comment-author"><a href="#">Fisi</a></div>
						<div class="comment-date">May 17, 2012</div>
						<div class="comment-text"><p>First comment!</p></div>
						<div class="comment-reply"><a class="comment-reply-link" rel="nofollow" href="#reply">reply</a></div>
					</li>

					<li class="depth-1">
						<div class="author-avatar"><img alt="" src="images/avatar.jpg"></div>
						<div class="comment-author">Besi</div>
						<div class="comment-date">May 17, 2012</div>
						<div class="comment-text"><p>First comment!</p></div>
						<div class="comment-reply"><a class="comment-reply-link" rel="nofollow" href="#reply">reply</a></div>
					</li>
				</ol>
				<!-- End Comments -->

				<div class="line"></div>

				<h4 class="post-title">Leave a reply</h4>

				<!-- Contact Form -->
				<div class="contact-form comment cleafix">
					<form id="contact">
						<input name="name" class="left" type="text" data-value="Name" value="Name">
						<input name="mail" class="right" type="text" data-value="E-mail" value="E-mail">
						<input name="website" class="right" type="text" data-value="Website" value="Website">
						<textarea name="comment" class="twelve column" data-value="Comment">Comment</textarea>
						<div id="msg" class="message"></div>
						<input id="submit" type="submit" value="Post a comment">
					</form>
				</div>
				<!-- End Contact Form -->
			</section>
			<!-- Content -->

			<!-- Sidebar -->
			<aside id="sidebar" class="four column pull-right">
				<ul class="no-bullet">					
					<li class="widget widget_search clearfix">
						<h3 class="widget-title">Search</h3>
						<form action="http://www.examples.com" method="get">
						  	<input type="text" name="s" data-value="Search" value="Search">
						  	<input type="submit" value="">
						</form>
					</li>
					<li class="widget widget_facebook_box clearfix">
						<h3 class="widget-title">Find Us On Facebook</h3>
						<iframe src="http://www.facebook.com/plugins/likebox.php?href=http://facebook.com/psdtuts&amp;width=285&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=false&amp;header=false&amp;height=258" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
					</li>
					<li class="widget widget_ads_small clearfix">
						<h3 class="widget-title">Ads Small</h3>
						<ul class="no-bullet clearfix">
							<li><a href="http://themeforest.net/user/nextWPthemes/portfolio?ref=nextWPThemes"><img alt="" src="http://placehold.it/150x150"></a></li>
							<li><a href="http://themeforest.net/user/nextWPthemes/portfolio?ref=nextWPThemes"><img alt="" src="http://placehold.it/150x150"></a></li>
							<li><a href="http://themeforest.net/user/nextWPthemes/portfolio?ref=nextWPThemes"><img alt="" src="http://placehold.it/150x150"></a></li>
							<li><a href="http://themeforest.net/user/nextWPthemes/portfolio?ref=nextWPThemes"><img alt="" src="http://placehold.it/150x150"></a></li>
						</ul>
					</li>
					<li class="widget widget_tag_cloud clearfix">
						<h3 class="widget-title">Tags</h3>
						<div class="tagcloud">
							<a href="#" title="3 topics" style="font-size: 22pt;">business</a>
							<a href="#" title="1 topic" style="font-size: 8pt;">Computers</a>
							<a href="#" title="2 topics" style="font-size: 16.4pt;">css</a>
							<a href="#" title="2 topics" style="font-size: 16.4pt;">design</a>
							<a href="#" title="2 topics" style="font-size: 16.4pt;">graphics</a>
							<a href="#" title="1 topic" style="font-size: 8pt;">html</a>
							<a href="#" title="2 topics" style="font-size: 16.4pt;">jQuery</a>
							<a href="#" title="2 topics" style="font-size: 16.4pt;">themes</a>
							<a href="#" title="2 topics" style="font-size: 16.4pt;">Video</a>
							<a href="#" title="1 topic" style="font-size: 8pt;">video</a>
							<a href="#" title="1 topic" style="font-size: 8pt;">website</a>
						</div>
					</li>
				</ul>
			</aside>
			<!-- End Sidebar -->

			<!-- Footer -->
			<footer class="row clearfix">
				<!-- Footer widgets -->
				<ul class="no-bullet clearfix">
					<li class="widget four column">
						<h3 class="widget-title">About Us</h3>
			        	<div class="textwidget">
			        		<p>Lorem ipsum dolor sit amet, consec tetuer adipis cing elitraesent vestibulum molestie um sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculusmus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec luctus lorem aecenas tristique orci ac semuis ultricies pharetra onec accumsan malesuada orci. Fusce feugiat males odio. Morbi nunc odio, lorem aecenas tristique orci ac semuis ultricies...</p>
			       		</div>
					</li>
					<li class="widget four column">
						<h3 class="widget-title">Flicker Gallery</h3>
	        			<div class="flickr-widget">
	        				<ul class="block-grid four-up">
	        					<li><a href="#"><img src="http://placehold.it/56x56" alt=""></a></li>
	        					<li><a href="#"><img src="http://placehold.it/56x56" alt=""></a></li>
	        					<li><a href="#"><img src="http://placehold.it/56x56" alt=""></a></li>
	        					<li><a href="#"><img src="http://placehold.it/56x56" alt=""></a></li>
	        					<li><a href="#"><img src="http://placehold.it/56x56" alt=""></a></li>
	        					<li><a href="#"><img src="http://placehold.it/56x56" alt=""></a></li>
	        					<li><a href="#"><img src="http://placehold.it/56x56" alt=""></a></li>
	        					<li><a href="#"><img src="http://placehold.it/56x56" alt=""></a></li>
	        					<li><a href="#"><img src="http://placehold.it/56x56" alt=""></a></li>
	        					<li><a href="#"><img src="http://placehold.it/56x56" alt=""></a></li>
	        					<li><a href="#"><img src="http://placehold.it/56x56" alt=""></a></li>
	        					<li><a href="#"><img src="http://placehold.it/56x56" alt=""></a></li>
	        				</ul>
	        			</div>
					</li>
					<li class="widget four column">
						<h3 class="widget-title">Twitter</h3>
			        	<div class="twitter-widget">
			        		<ul>
			        			<li>
			        				<p><a href="#">about 25 days ago</a> Lorem ipsum dolor sit amet nulla malesuda odio morbi nunc odio tristique: <br/><a href="#">http://bit.ly/8b0wO4</a></p>
			        			</li>
			        			<li>
			        				<p><a href="#">about 32 days ago</a> Malesuda orci ultricies pharetra onec accimsan curcus nec lorem aecenas: <br/><a href="#">http://bit.ly/8b0wO4</a></p>
			        			</li>
			        			<li>
			        				<p><a href="#">about 59 days ago</a> Socis vestibulum cing molestie malesuada odio onces accussam orci lorem: <br/><a href="#">http://bit.ly/8b0wO4</a></p>
			        			</li>
			        		</ul>
			        	</div>
					</li>
				</ul>
				<!-- End Footer widgets -->

				<div class="copyright clearfix">
					© Copyright 2012 Pixelogic
				</div>

				<div id="back-to-top" class="right">
					<a href="#top">Back to Top</a>
				</div>
			</footer>
			<!-- End Footer -->
		</section>
		<!-- End Inner Container -->
	</section>
	<!-- End Container -->

	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery.superfish.js"></script>
	<script type="text/javascript" src="js/jquery.flexslider.min.js"></script>
	<script type="text/javascript" src="js/jquery.fancybox.js"></script>
	<script type="text/javascript" src="js/jcarousel.js"></script>
	<script type="text/javascript" src="js/jquery.masonry.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
</body>
</html>