body {
	font-family: helvetica, arial;
	font-size: 13px;
	padding-top: 50px;
}
#framebar {
	background-color: #fff;
	height: 30px;
	line-height: 30px;
	padding: 5px 0;
	border-bottom: 1px solid #ccc;
	color: #17368f;
	font-weight: bold;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 3;
}
#framebar .kanal_pilih {
	float: left;
	height: 30px;
	position: relative;
	padding-left: 10px;
}
#framebar .kanal_pilih select {
	background: transparent;
	border: 0;
	border-radius: 0;
	-webkit-appearance: none;
	color: #17368f;
	font-size: 13px;
	text-transform: none;
	font-weight: bold;
	float: left;
	height: 30px;
	padding-right: 20px;
	position: relative;
	z-index: 1;
}
#framebar .kanal_pilih .icon-d {
	height: 30px;
	float: left;
	margin-right: 5px;
}
#framebar .kanal_pilih .arrow {
	height: 10px;
	float: left;
	margin-top: 11px;
	position: absolute;
	right: 0;
	z-index: 0;
}
#framebar .kanal_pilih span{
	float: left;
	margin-right: 5px;
}
#framebar .logreg {
	float: right;
	color: #17368f;
	text-decoration: none;
	position: absolute;
	padding: 5px 10px;
	right: 0;
	top: 0;
}
#framebar .user-login {
	float: right;
	margin-right: 10px;
}
