.profileImage {
	font-family: "Open Sans";
  float: left;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #512DA8;
  font-size: 30px;
  color: #fff;
  text-align: center;
  line-height: 60px;
  margin-right: 0 auto;
  margin-left: -10px;
  /*margin: 20px 0;*/
}
.profilepicture {
  font-family: "Open Sans";
  float: left;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #512DA8;
  font-size: 30px;
  color: #fff;
  text-align: center;
  line-height: 60px;
  margin-right: 0 auto;
  /*margin: 20px 0;*/
}
.welcome-message {
  margin-top: 16px;
  color: yellow;
}
.subjudul {
	background-color:#036266;
	padding: 10px;
	color: #fff;

}
.subisi {
	font-size: 12px;
}
.subtanggal{
	color: #fff;
	font-size: 10px;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
#m_breaking {
	height: 200px;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-op-background-size: cover;
}
.pembatas {
	padding: 10px;
	max-height: 200px;
	background-color: #985703;
}
.gap {
	margin-top: 5px;
	margin-bottom: 5px;
}
.img-ads-header {
	width: 100%;
}
.m_peristiwa{
	height: auto;
	width: 100%;
	background-color: #985703;
}
.m_peristiwa_judul{
	padding: 5px;
	text-align: center;
	font-weight: bold;
	color: #fff;
	margin: 0 auto;
}
.m_peristiwa_judul p {
	padding: 5px;
	text-align: center;
	font-style: italic;
	color: #fff;
}
.m_news_feed{
	max-height: 500px;
	width: 100%;
}
.m_feed_judul{
	/*box-shadow: 10px;*/
	padding: 5px;
	background-color: #985703;
	text-align: center;
	font-weight: bold;
	color: #fff;
	margin: 0 auto;
}
.m_fedd_isi {
	margin-top: 10px;
	border-bottom: 0.5px solid;
	padding-bottom: 5px;
}
.img-feed {
	height: 100px;
	width: 100px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}
.m_fedd_title {
	font-size: 15px;
}
.m_judul {
	color: #006666 !important;
}
.img-ads{
	max-width: 809px;
	max-height: 188px;
}
h2.title-article {
	text-transform: none !important; 
	color: #036266;
}
.title-breaking {
	text-transform: none !important; 
}
a.title {
	color: #323333;
    font-size: 15px !important;
    font-weight: bold !important;
    font-family: "Open Sans" !important;
}