/*Teras CSS*/
.main-title.full {
  width: 100%;
}
.batas {
  margin-top: 5px;
  margin-bottom: : 5px;
}
h3.main-title-dash {
  width:100%;
  color: #e74c3c;
  text-align: right;
  border-bottom: 1px solid #e74c3c;
  line-height:0.1em;
  margin:10px 0 20px;
}
h3 span {
  background:#fff;
  padding:0 10px;
}
.bordered.tebal {
  border: solid 1px black;
}
