<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Fokus - Teras Berita </title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/business-casual.css" rel="stylesheet">
    <link rel="icon" type="icon" href="img/logo.png">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
 

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<section id="nav-atas">
    <div class="container">
        <div class="col-md-12">
            <div class="span">
                <div class="kiri">
                    <ul>
                        <li>
                            <a href="">
                                <h5>JADILAH BAGIAN DARI KAMI</h5>
                                <p>Lorem Ipsum dolor sit amet</p>
                            </a>
                        </li>
                        <li class="button">
                            <a href=""><button class="brown">Daftar</button></a>
                        </li>
                        <li class="button">
                            <a href=""><button class="grey">Masuk</button></a>
                        </li>
                    </ul>
                </div>
                <div class="kanan">
                    <ul>
                        <li><input placeholder="Cari Berita"></input></li>
                        <li class="cari"><a href=""><img src="img/search.png" class="cari" width="28px"></a></li>
                        <li><h5>Follow US :</h5></li>
                        <li class="sos"><a href=""><img src="img/medsos/fb-1.png"></a></li>
                        <li class="sos"><a href=""><img src="img/medsos/twit-1.png"></a></li>
                        <li class="sos"><a href=""><img src="img/medsos/yutube-1.png"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="nav-tengah">
    <div class="container">
        <div class="col-md-12">
            <div class="span">
                <a href=""><div class="logo"><img src="img/logo/Teras Berita - Logo - Standart.png"></div></a>
                <a href=""><div class="img"><img src="img/mcd.jpg"></div></a>
            </div>
        </div>
    </div>
</section>


    <!-- Navigation -->
<div class="col-md-12">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="index.html">Business Casual</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" id="navigasi">
                    <li>
                        <a href="index.html">TerasNasional</a>
                    </li>
                    <li>
                        <a href="teras-sukabumi.html">TerasSukabumi</a>
                    </li>
                    <li>
                        <a href="teras-cianjur.html">TerasCianjur</a>
                    </li>
                    <li>
                        <a href="teras-kriminal.html">TerasKriminal</a>
                    </li>
                    <li>
                        <a href="teras-ekonomi.html">TerasEkonomi</a>
                    </li>
                    <li>
                        <a href="teras-sehat.html">TerasSehat</a>
                    </li>
                    <li style="width: 100px;">
                        <a href="index.html" class="index">INDEX</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
            </div>
        </div>
        <!-- /.container -->
    </nav>
<section id="deskripsi-berita">
    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-md-6">
                  <div class="box-deskripsi">
                    <p class="title"><small>Teras Berita / Fokus / Lorem Ipsum</small></p>
                    <div class="kanan">
                    <ul><li><small>Follow Teras Berita :</small></li>
                        <li class="follow-us"><a href=""><img src="img/medsos/fb-2.png"></a></li>
                        <li class="follow-us"><a href=""><img src="img/medsos/twit-2.jpg"></a></li>
                        <li class="follow-us"><a href=""><img src="img/medsos/yutube-2.png"></a></li>
                    </ul>
                    </div>
                    <h4 class="title">Teras Berita</h4>
                    <h1 class="title">Pedoman Pemberitaan Media Siber</h1>
                    <div class="des">
                        <div class="isi">
                            <h6>
Kemerdekaan berpendapat, kemerdekaan berekspresi, dan kemerdekaan pers adalah hak asasi manusia yang dilindungi Pancasila, Undang-Undang Dasar 1945, dan Deklarasi Universal Hak Asasi Manusia PBB. Keberadaan media siber di Indonesia juga merupakan bagian dari kemerdekaan berpendapat, kemerdekaan berekspresi, dan kemerdekaan pers.

Media siber memiliki karakter khusus sehingga memerlukan pedoman agar pengelolaannya dapat dilaksanakan secara profesional, memenuhi fungsi, hak, dan kewajibannya sesuai Undang-Undang Nomor 40 Tahun 1999 tentang Pers dan Kode Etik Jurnalistik. Untuk itu Dewan Pers bersama organisasi pers, pengelola media siber, dan masyarakat menyusun Pedoman Pemberitaan Media Siber sebagai berikut:

<h5>1. Ruang Lingkup</h5>

<ul type="disk">
    <li><p>Media Siber adalah segala bentuk media yang menggunakan wahana internet dan melaksanakan kegiatan jurnalistik, serta memenuhi persyaratan Undang-Undang Pers dan Standar Perusahaan Pers yang ditetapkan Dewan Pers.</p></li>

    <li><p>Isi Buatan Pengguna (User Generated Content) adalah segala isi yang dibuat dan atau dipublikasikan oleh pengguna media siber, antara lain, artikel, gambar, komentar, suara, video dan berbagai bentuk unggahan yang melekat pada media siber, seperti blog, forum, komentar pembaca atau pemirsa, dan bentuk lain.</p></li>
</ul>
<h5>1. Ruang Lingkup</h5>

<ul type="disk">
    <li><p>Media Siber adalah segala bentuk media yang menggunakan wahana internet dan melaksanakan kegiatan jurnalistik, serta memenuhi persyaratan Undang-Undang Pers dan Standar Perusahaan Pers yang ditetapkan Dewan Pers.</p></li>

    <li><p>Isi Buatan Pengguna (User Generated Content) adalah segala isi yang dibuat dan atau dipublikasikan oleh pengguna media siber, antara lain, artikel, gambar, komentar, suara, video dan berbagai bentuk unggahan yang melekat pada media siber, seperti blog, forum, komentar pembaca atau pemirsa, dan bentuk lain.</p></li>
</ul>
<h5>1. Ruang Lingkup</h5>

<ul type="disk">
    <li><p>Media Siber adalah segala bentuk media yang menggunakan wahana internet dan melaksanakan kegiatan jurnalistik, serta memenuhi persyaratan Undang-Undang Pers dan Standar Perusahaan Pers yang ditetapkan Dewan Pers.</p></li>

    <li><p>Isi Buatan Pengguna (User Generated Content) adalah segala isi yang dibuat dan atau dipublikasikan oleh pengguna media siber, antara lain, artikel, gambar, komentar, suara, video dan berbagai bentuk unggahan yang melekat pada media siber, seperti blog, forum, komentar pembaca atau pemirsa, dan bentuk lain.</p></li>
</ul>
<h5>1. Ruang Lingkup</h5>

<ul type="disk">
    <li><p>Media Siber adalah segala bentuk media yang menggunakan wahana internet dan melaksanakan kegiatan jurnalistik, serta memenuhi persyaratan Undang-Undang Pers dan Standar Perusahaan Pers yang ditetapkan Dewan Pers.</p></li>

    <li><p>Isi Buatan Pengguna (User Generated Content) adalah segala isi yang dibuat dan atau dipublikasikan oleh pengguna media siber, antara lain, artikel, gambar, komentar, suara, video dan berbagai bentuk unggahan yang melekat pada media siber, seperti blog, forum, komentar pembaca atau pemirsa, dan bentuk lain.</p></li>
</ul>
<h5>1. Ruang Lingkup</h5>

<ul type="disk">
    <li><p>Media Siber adalah segala bentuk media yang menggunakan wahana internet dan melaksanakan kegiatan jurnalistik, serta memenuhi persyaratan Undang-Undang Pers dan Standar Perusahaan Pers yang ditetapkan Dewan Pers.</p></li>

    <li><p>Isi Buatan Pengguna (User Generated Content) adalah segala isi yang dibuat dan atau dipublikasikan oleh pengguna media siber, antara lain, artikel, gambar, komentar, suara, video dan berbagai bentuk unggahan yang melekat pada media siber, seperti blog, forum, komentar pembaca atau pemirsa, dan bentuk lain.</p></li>
</ul>
                            </h6>
                        </div>
                    </div>
                </div>
                </div><!--BOX BERITA-->
                    <div class="fokus"><!--populer-->
                        <div class="title-populer"><h5>Populer</h5></div>
                                <div class="fok-isi"><!--Populer isi-->
                                    <div class="list">
                                        <img src="img/bg.jpg">
                                        <p class="des">
                                        <a class="title" href="populer-1.html">Use as many boxes as you</a><br>
                                        and put anything you and put anything you want in them!</p>
                                    </div>
                                </div><!--/Populer isi-->
                                <div class="fok-isi"><!--Populer isi-->
                                    <div class="list">
                                        <img src="img/bg.jpg">
                                        <p class="des">
                                        <a class="title" href="populer-2.html">Use as many boxes as you</a><br>
                                        and put anything you and put anything you want in them!</p>
                                    </div>
                                </div><!--/Populer isi-->
                                <div class="fok-isi"><!--Populer isi-->
                                    <div class="list">
                                        <img src="img/bg.jpg">
                                        <p class="des">
                                        <a class="title" href="populer-5.html">Use as many boxes as you</a><br>
                                        and put anything you and put anything you want in them!</p>
                                    </div>
                                </div><!--/Populer isi-->
                                <div class="fok-isi"><!--Populer isi-->
                                    <div class="list">
                                        <img src="img/bg.jpg">
                                        <p class="des">
                                        <a class="title" href="populer-5.html">Use as many boxes as you</a><br>
                                        and put anything you and put anything you want in them!</p>
                                    </div>
                                </div><!--/Populer isi-->
                                <div class="fok-isi"><!--Populer isi-->
                                    <div class="list">
                                        <img src="img/bg.jpg">
                                        <p class="des">
                                        <a class="title" href="populer-5.html">Use as many boxes as you</a><br>
                                        and put anything you and put anything you want in them!</p>
                                    </div>
                                </div><!--/Populer isi-->
                    </div><!--COL-MD-6-->
            </div><!--BOX-->
        </div>
    </div>
</section>


<section id="populer-responsive">
    <div class="container">
        <div class="col-md-12">
            <div class="span">
                <div class="col-md-6 col-md-12 col-md-12">
                    <div class="title-populer"><h5>NEWS FEED</h5></div>
                    <div class="news-responsive">
                         <div class="news-isi">
                            <div class="list">
                                <img src="img/bg.jpg">
                                <p class="des-news">
                                <a class="title" href="">Use as many boxes as you boxes as you</a><br>
                                <small>Yesterday | 10 Maret 2016 pukul 04.00</small></p>
                            </div>
                         <div class="news-isi">
                            <div class="list">
                                <img src="img/bg.jpg">
                                <p class="des-news">
                                <a class="title" href="">Use as many boxes as you boxes as you</a><br>
                                <small>Yesterday | 10 Maret 2016 pukul 04.00</small></p>
                            </div>
                        </div>
                         <div class="news-isi">
                            <div class="list">
                                <img src="img/bg.jpg">
                                <p class="des-news">
                                <a class="title" href="">Use as many boxes as you boxes as you</a><br>
                                <small>Yesterday | 10 Maret 2016 pukul 04.00</small></p>
                            </div>
                        </div>
                         <div class="news-isi">
                            <div class="list">
                                <img src="img/bg.jpg">
                                <p class="des-news">
                                <a class="title" href="">Use as many boxes as you boxes as you</a><br>
                                <small>Yesterday | 10 Maret 2016 pukul 04.00</small></p>
                            </div>
                        </div>
                         <div class="news-isi">
                            <div class="list">
                                <img src="img/bg.jpg">
                                <p class="des-news">
                                <a class="title" href="">Use as many boxes as you boxes as you</a><br>
                                <small>Yesterday | 10 Maret 2016 pukul 04.00</small></p>
                            </div>
                        </div>
                </div>
            </div>
        </div>      
    </div></div></div>
</section>

<section id="footer">
    <div class="container">
        <div class="col-md-12">
            <div class="span">
            <div class="footer">
            <div class="logo-bawah"><a href=""><img src="img/logo-bawah.png"></a></div>
            <div class="footer-kanan">
                <ul>
                    <li class="medsos">
                        <a href=""><img src="img/medsos/fb-3.png"></a>
                        <a href=""><img src="img/medsos/twit-3.png"></a>
                        <a href=""><img src="img/medsos/yutube-3.png"></a>
                    </li>
                    <li class="line"></li>
                    <li class="copyright" id="respon">Copyright &copy 2016 <a href="http://www.facebook.com/adhekurniawan">Adhe Kurniawan</a>. All Reserved. 
                    <a href="redaksi.html" id="res">Redaksi</a>
                    <a href="pedoman-media-siber.html" id="res">Pedoman Media Siber</a>
                    <a href="karir.html" id="res">Karir</a>
                    <a href="contact.html" id="res">Kotak Pos</a>
                    <a href="privacy-policy.html" id="res">Privacy Polisi</a>
                    <a href="disclaimer.html" id="res">Disclaimer</a>
                    </li>
                </ul>
            </div>
            </div>
            </div>
        </div>
    </div>
</section>


    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
