<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Redaksi - Teras Berita </title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/business-casual.css" rel="stylesheet">
    <link rel="icon" type="icon" href="img/logo.png">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
 

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<section id="nav-atas">
    <div class="container">
        <div class="col-md-12">
            <div class="span">
                <div class="kiri">
                    <ul>
                        <li>
                            <a href="">
                                <h5>JADILAH BAGIAN DARI KAMI</h5>
                                <p>Lorem Ipsum dolor sit amet</p>
                            </a>
                        </li>
                        <li class="button">
                            <a href=""><button class="brown">Daftar</button></a>
                        </li>
                        <li class="button">
                            <a href=""><button class="grey">Masuk</button></a>
                        </li>
                    </ul>
                </div>
                <div class="kanan">
                    <ul>
                        <li><input placeholder="Cari Berita"></input></li>
                        <li class="cari"><a href=""><img src="img/search.png" class="cari" width="28px"></a></li>
                        <li><h5>Follow US :</h5></li>
                        <li class="sos"><a href=""><img src="img/medsos/fb-1.png"></a></li>
                        <li class="sos"><a href=""><img src="img/medsos/twit-1.png"></a></li>
                        <li class="sos"><a href=""><img src="img/medsos/yutube-1.png"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="nav-tengah">
    <div class="container">
        <div class="col-md-12">
            <div class="span">
                <a href=""><div class="logo"><img src="img/logo/Teras Berita - Logo - Standart.png"></div></a>
                <a href=""><div class="img"><img src="img/mcd.jpg"></div></a>
            </div>
        </div>
    </div>
</section>


    <!-- Navigation -->
<div class="col-md-12">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="index.html">Business Casual</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" id="navigasi">
                    <li>
                        <a href="index.html">TerasNasional</a>
                    </li>
                    <li>
                        <a href="teras-sukabumi.html">TerasSukabumi</a>
                    </li>
                    <li>
                        <a href="teras-cianjur.html">TerasCianjur</a>
                    </li>
                    <li>
                        <a href="teras-kriminal.html">TerasKriminal</a>
                    </li>
                    <li>
                        <a href="teras-ekonomi.html">TerasEkonomi</a>
                    </li>
                    <li>
                        <a href="teras-sehat.html">TerasSehat</a>
                    </li>
                    <li style="width: 100px;">
                        <a href="index.html" class="index">INDEX</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
            </div>
        </div>
        <!-- /.container -->
    </nav>
<section id="deskripsi-berita">
    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-md-6">
                  <div class="box-deskripsi">
                    <p class="title"><small>Teras Berita / Redaksi </small></p>
                    <div class="kanan">
                    <ul><li><small>Follow Teras Berita :</small></li>
                        <li class="follow-us"><a href=""><img src="img/medsos/fb-2.png"></a></li>
                        <li class="follow-us"><a href=""><img src="img/medsos/twit-2.jpg"></a></li>
                        <li class="follow-us"><a href=""><img src="img/medsos/yutube-2.png"></a></li>
                    </ul>
                    </div>
                    <h4 class="title">Teras Berita</h4>
                    <h1 class="title">REDAKSI</h1>
                    <div class="des">
                        <div class="isi">
                            <h6>
<table>
<tr>
    <td>Penasihat</td><td> : </td><td> Budiono Darsono</td>
</tr>
<tr>
    <td>emimpin Redaksi</td><td> : </td><td>  Arifin Asydhad</td>
</tr>
<tr>
    <td>Wakil Pemimpin Redaksi </td><td> : </td><td>  Iin Yumiyanti</td>
</tr>
<tr>
    <td>Redaktur Eksekutif </td><td> : </td><td> Nurul Hidayati </td>
</tr>
<tr>
    <td>Kepala Intelijen Konten</td><td> : </td><td>Rachmadin Ismail</td>
</tr>
<tr>
    <td>Kepala Peliputan </td><td> : </td><td> Fajar Pratama (Jakarta), Triono Wahyu Sudibyo (Daerah dan Luar Negeri)</td>
</tr>
<tr>    
    <td>Redaktur Pelaksana </td><td> : </td><td> Indra Subagja (detikNews), Elvan Dany Sutrisno (detikNews), Wahyu Daniel (detikFinance), Andi A. Sururi (detikSport), Is Mujiarso (detikHot), Ardhi Suryadi  (detikInet), Nurvita Indarini (detikhealth), Eny Kartikawati (wolipop), Odilia Winneke Setiawati (detikfood), Fitraya Ramadhanny (detiktravel), Dadan Kuswaraharja (detikoto), Irwan Nugroho (detikX), Sudrajat (detikX), Sapto Pradityo (detikX), Dikhy Sasra (detikfoto), Gagah Wijoseno (detikTV)</td>
</tr>
    
 <tr>
    <td>DetikNews </td><td> : </td><td> Aditya Fajar Indrawan, Ahmad Masaul Khoiri, Ahmad Toriq, Andi Saputra, Bagus Prihantoro Nugroho, Bisma Alief, Danu Damarjati, Dhani Irawan, E Mei Amelia Rahmat, Edward Febriyatri Kusuma,  Elza Astari Retaduari, Erwin Dariyanto, Ferdinan, Herianto Batubara, Hestiana Dharmastuti, Idham Khalid, Ikhwanul Khabibi, Indah Mutiara Kami, Jabbar Ramdhani, Kartika Sari    Tarigan, M Iqbal, M Taufiqurrahman, Mulya Nurbilkis, Nathania Riris Michico, Niken Widya Yunita, Nograhany Widhi K, Novi Christiastuti Adiputri,  Ray Jordan, Rina Atriana, Rini Friastuti, Rita Uli Hutapea, Rivki, Wisnu Prasetiyo, Yulida Medistiara</td>
</tr>

<tr>
    <td>DetikFinance </td><td> : </td><td> Angga Aliya ZRF, Ardhan Adhi Chandra, Dana Aditiasari, Dewi Rachmat Kusuma, Dina Rayanti, Eduardo Simorangkir, Feby Dwi Sutianto, Hans Henricus BS Aron, Maikel Jefriando, Michael Agustinus, Muhammad Idris</td>
</tr>
<tr>
<td>DetikSport</td><td> : </td><td> Doni Wahyudi, Amalia Dwi Septi, Femi Diah N, Fredy Meylan Ismawan, Kris Fathoni W, Lucas Aditya, Mercy Raya, Mohammad Resha Pratama, Novitasari Dewi Salusi, Okdwitya Karina Sari, Rifqi Ardita Widianto, Rossi Finza Noor</td>
</tr>
<tr>
<td>DetikHot</td><td> : </td><td> Adhie Ichsan, Asep Syaifullah, Atmi Ahsani Yusron,  Arum Kinanti, Delia Arnindita Larasati, Desy Puspasari, Devy Octafiani, Dicky Ardian, Fakhmi Kurniawan, Komario Bahar, Mahardian Prawira Bhisma, Muhammad Iqbal FH, Mauludi Rismoyo, Nugraha Rodiana, Prih Prawesti, Tia Agnes Astuti</td>
</tr>
<tr>
<td>Detikinet</td><td> : </td><td> Achmad Rouzni Noor II,  Anggoro Suryo Jati, Fino Yurio Kristo, Rachmatunnisa, Yudhianto, Josina, M. Alif Goenawan, Adi Fida Rahman
</tr>
<tr>
    <td>DetikHealth</td><td> : </td><td> AN Uyung Pramudiarja, Ajeng Annastasia Kinanti, Firdaus Anwar, M Reza Sulaiman, Radian Nyi Sukmasari, Rahma Lillahi Sativa, Suherni</td>
</tr>
<tr>
    <td>Wolipop</td><td> : </td><td> Alissa Safiera, Arina Yulistara, Daniel Ngantung, Hestianingsih, Intan Kemalasari, Kiki Oktaviani, Rahmi Anjani, Mohammad Abdoeh</td>
</tr>
<tr>
    <td>DetikFood</td><td> : </td><td> Andi Annisa Dwi Rahmawati, Lusiana Mustinda, Maya Safira</td>
</tr>
<tr>
    <td>DetikTravel</td><td> : </td><td> Afif Farhan, Faela Shafa, Johanes Randy, Kurnia Yustiana, Wahyu Setyo Widodo </td>
</tr>
<tr>
    <td>DetikOto</td><td> : </td><td> Khairul Imam Ghozali, M. Luthfi Andika, Niken Purnamasari, Rangga Rahadiansyah</td>
</tr>
<tr>
    <td>detikX </td><td> : </td><td> Aryo Bhawono, Bahtiar Rifai, Deden Gunawan, Habib Rifai, Ibad Durrohman, Isfari Hikmat, Melisa Mailoa , M Rizal, Pasti Liberti Mappapa</td>
</tr>
<tr>
    <td>DetikFoto</td><td> : </td><td> Agus Purnomo,  Aries Suryono, Agung Pambudhy, Ari Saputra, Grandyos Zafna, Hasan Alhabshi, Rachman Haryanto, Rengga Sancaya</td>
    </tr>

<tr>
    <td>DetikTV</td><td> : </td><td>  Fuad Fariz, Ken Yunita, Moksa Hutasoit,  Abdurrosyid, Achmad Triyanto, Adil Pradipta Huwa, Aji Bagoes Risang, Anggoro Fajar Purnomo, Billy Triantoro, Budi Setiawan, Deny Fitrianto, Didik Dwi, Elisha Prima Agustin, Esty Rahayu Anggraini, Fahrur Rozi, Haryanto, Ihsan Dana, Lintang Jati Rahina, Ichsan Luthfi,  Iswahyudy, Marisa, Moksa Hutasoit,        Muhammad Zaky Fauzi Azhar, Nandya Bachtiar, Niza Sari Pratiwi, Nugroho Tri Laksono, Okta Marfianto, Rahma Yoga Wedar, Raisha Anazga, Raisya UL Maharani, Resnu Dwi Andika, Septiana Ledysia, Suci Seto, Tri Aljumanto,  Wirsad Hafiz, Yandra Wijaya, Zhahrah Qamarani
Biro Daerah dan Luar Negeri</td>
</tr>
 <tr>    
    <td>Jawa Timur  </td><td> : </td><td>   Budi Sugiharto (Kepala Biro)</td>
</tr>
<tr>        
    <td>Surabaya </td><td> : </td><td> Budi Hartadi, Fatichatun Nadiroh, Imam Wahyudiyanta, Rois Jajeli,  Zainal Effendi, Nila Ardiani</td>
</tr>
<tr>    
    <td>Banyuwangi </td><td> : </td><td> Aditya Mardiastuti, Putri Akmal</td>
</tr>
<tr>    
    <td>DI Yogyakarta   </td><td> : </td><td>   Bagus Kurniawan (Kepala Biro)
        Yogyakarta Sukma Indah Permana, Ati Dirgawati</td>
</tr>
<tr>    
    <td>Kepala Biro Jawa Barat  </td><td> : </td><td>   Erna Mardiana</td>
</tr>
<tr>        
    <td>Bandung</td><td> : </td><td>  Avitia Nurmatari, Baban Gandapurnama, Tya Eka Yulianti</td>
</tr>
<tr>    
    <td>Purwakarta </td><td> : </td><td> Tri Ispranoto</td>
</tr>
<tr>    
    <td>Jawa Tengah </td><td> : </td><td> Muchus Budi Rahayu (Solo), Angling Adhitya Purbaya  (Semarang)</td>
</tr>
<tr>    
    <td>Riau </td><td> : </td><td> Chaidir Anwar Tanjung  (Pekanbaru)</td>
</tr>
<tr>    
    <td>Sulawesi Selatan    </td><td> : </td><td>   Muhammad Nur Abdurrahman  (Makassar)</td>
</tr>
<tr>
    <td>Nusa Tenggara Barat </td><td> : </td><td>   
Yudhistira Amran Saleh (Mataram)</td>
</tr>
</table>
                            </h6>
                        </div>
                    </div>
                </div>
                </div><!--BOX BERITA-->
                    <div class="fokus"><!--populer-->
                        <div class="title-populer"><h5>Populer</h5></div>
                                <div class="fok-isi"><!--Populer isi-->
                                    <div class="list">
                                        <img src="img/bg.jpg">
                                        <p class="des">
                                        <a class="title" href="populer-1.html">Use as many boxes as you</a><br>
                                        and put anything you and put anything you want in them!</p>
                                    </div>
                                </div><!--/Populer isi-->
                                <div class="fok-isi"><!--Populer isi-->
                                    <div class="list">
                                        <img src="img/bg.jpg">
                                        <p class="des">
                                        <a class="title" href="populer-2.html">Use as many boxes as you</a><br>
                                        and put anything you and put anything you want in them!</p>
                                    </div>
                                </div><!--/Populer isi-->
                                <div class="fok-isi"><!--Populer isi-->
                                    <div class="list">
                                        <img src="img/bg.jpg">
                                        <p class="des">
                                        <a class="title" href="populer-5.html">Use as many boxes as you</a><br>
                                        and put anything you and put anything you want in them!</p>
                                    </div>
                                </div><!--/Populer isi-->
                                <div class="fok-isi"><!--Populer isi-->
                                    <div class="list">
                                        <img src="img/bg.jpg">
                                        <p class="des">
                                        <a class="title" href="populer-5.html">Use as many boxes as you</a><br>
                                        and put anything you and put anything you want in them!</p>
                                    </div>
                                </div><!--/Populer isi-->
                                <div class="fok-isi"><!--Populer isi-->
                                    <div class="list">
                                        <img src="img/bg.jpg">
                                        <p class="des">
                                        <a class="title" href="populer-5.html">Use as many boxes as you</a><br>
                                        and put anything you and put anything you want in them!</p>
                                    </div>
                                </div><!--/Populer isi-->
                    </div><!--COL-MD-6-->
            </div><!--BOX-->
        </div>
    </div>
</section>


<section id="populer-responsive">
    <div class="container">
        <div class="col-md-12">
            <div class="span">
                <div class="col-md-6 col-md-12 col-md-12">
                    <div class="title-populer"><h5>NEWS FEED</h5></div>
                    <div class="news-responsive">
                         <div class="news-isi">
                            <div class="list">
                                <img src="img/bg.jpg">
                                <p class="des-news">
                                <a class="title" href="">Use as many boxes as you boxes as you</a><br>
                                <small>Yesterday | 10 Maret 2016 pukul 04.00</small></p>
                            </div>
                         <div class="news-isi">
                            <div class="list">
                                <img src="img/bg.jpg">
                                <p class="des-news">
                                <a class="title" href="">Use as many boxes as you boxes as you</a><br>
                                <small>Yesterday | 10 Maret 2016 pukul 04.00</small></p>
                            </div>
                        </div>
                         <div class="news-isi">
                            <div class="list">
                                <img src="img/bg.jpg">
                                <p class="des-news">
                                <a class="title" href="">Use as many boxes as you boxes as you</a><br>
                                <small>Yesterday | 10 Maret 2016 pukul 04.00</small></p>
                            </div>
                        </div>
                         <div class="news-isi">
                            <div class="list">
                                <img src="img/bg.jpg">
                                <p class="des-news">
                                <a class="title" href="">Use as many boxes as you boxes as you</a><br>
                                <small>Yesterday | 10 Maret 2016 pukul 04.00</small></p>
                            </div>
                        </div>
                         <div class="news-isi">
                            <div class="list">
                                <img src="img/bg.jpg">
                                <p class="des-news">
                                <a class="title" href="">Use as many boxes as you boxes as you</a><br>
                                <small>Yesterday | 10 Maret 2016 pukul 04.00</small></p>
                            </div>
                        </div>
                </div>
            </div>
        </div>      
    </div></div></div>
</section>

<section id="footer">
    <div class="container">
        <div class="col-md-12">
            <div class="span">
            <div class="footer">
            <div class="logo-bawah"><a href=""><img src="img/logo-bawah.png"></a></div>
            <div class="footer-kanan">
                <ul>
                    <li class="medsos">
                        <a href=""><img src="img/medsos/fb-3.png"></a>
                        <a href=""><img src="img/medsos/twit-3.png"></a>
                        <a href=""><img src="img/medsos/yutube-3.png"></a>
                    </li>
                    <li class="line"></li>
                    <li class="copyright" id="respon">Copyright &copy 2016 <a href="http://www.facebook.com/adhekurniawan">Adhe Kurniawan</a>. All Reserved. 
                    <a href="redaksi.html" id="res">Redaksi</a>
                    <a href="pedoman-media-siber.html" id="res">Pedoman Media Siber</a>
                    <a href="karir.html" id="res">Karir</a>
                    <a href="contact.html" id="res">Kotak Pos</a>
                    <a href="privacy-policy.html" id="res">Privacy Polisi</a>
                    <a href="disclaimer.html" id="res">Disclaimer</a>
                    </li>
                </ul>
            </div>
            </div>
            </div>
        </div>
    </div>
</section>


    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
