@media screen and (max-width: 768px) {
	#navigator-atas {
		display: none;
	}
	.img-logo {
		margin-top: 30px;
	}	
	#menu-utama {
		top:0;
        width:100%;
        position:fixed;
	}
}
@media only screen and (max-width : 767px) {
  .box {
    height: auto !important;
  } 
}
