<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home - Teras Berita </title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link rel="icon" type="icon" href="img/logo.png">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<section id="navigator-atas">
   <nav class="navbar navbar-default navbar-static-top" role="navigation">
       <div class="container">
           <a class="navbar-brand" href="#">Title</a>
           <ul class="nav navbar-nav">
               <li class="active">
                   <a href="#">Home</a>
               </li>
               <li>
                   <a href="#">Link</a>
               </li>
           </ul>
       </div>
   </nav>
</section>
<section id="logo-dan-iklan">
    <div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img class="img-logo img-responsive" src="img/logo/Teras Berita - Logo - Standart.png"/>
        </div>
        <div class="col-sm-6">
            <div class="img-iklan-header">
                <img src="img/iklan/banner_gif.gif" class="img-responsive"/>
            </div>
        </div>
    </div>
</section>
<section id="menu-utama">
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Title</a>
                </div>
        
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>
        </nav>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-md-8" style="height: 300px; background-color: red;">
            <div class="container" style="background-color: blue;">
                <img src="http://placehold.it/350x150"  />
            </div>
        </div>
        <div class="col-md-4" style="height: 300px; background-color: blue;"></div>
    </div>
    <div class="row">
        <div class="col-md-6" style="height: 300px; background-color: yellow;"></div>
        <div class="col-md-6" style="height: 300px; background-color: red;"></div>
    </div>
    <div class="row">
        <div class="col-md-6" style="height: 300px;  background-color: yellow;"></div>
        <div class="col-md-6" style="height: 300px;  background-color: blue;"></div>
    </div>
</div>
<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>